<div class="p-3">
    <h3>Setari</h3>
    
    <ul class="nav    mt-3">
        <li class="nav-item" >
            <a class="nav-link"  routerLinkActive="active" routerLink="general">General</a>
          </li>
        <li class="nav-item"  >
          <a class="nav-link "  routerLinkActive="active" routerLink="device">Dispozitv</a>
        </li>
        
          <li class="nav-item" >
            <a class="nav-link"  routerLinkActive="active" routerLink="stands">Stative</a>
          </li>
         
          <li class="nav-item" >
            <a class="nav-link"  routerLinkActive="active" routerLink="calibration">Calibrare</a>
          </li>
         
          <li class="nav-item" >
            <a class="nav-link"  routerLinkActive="active" routerLink="users">Utilizatori</a>
          </li>
           
      </ul>

      <div class="mt-3">
        <router-outlet></router-outlet>
      </div>
</div>
